@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
    display: inline-block;
    animation: bounce 0.3s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}